@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-1: #161313;
  --gray-1: #606060;
  --tw-text-opacity: 1;
}

.body {
  font-family: 'Roboto', sans-serif;
}

.heading {
  color: var();
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
}

.input {
  border-width: 1px;
  padding: 0.8rem;
  width: 100%;
  border-radius: 0.6rem;
  background: var(--black-1);
  color: rgb(255 255 255 / var(--tw-text-opacity));
  margin: 0 auto;
}

/* You can also use the variables in Tailwind classes */
.button {
  background-color: #367bd5;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  margin: 0 auto;
  cursor: pointer;
}
